<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="me6_robot">

    <xacro:arg name="use_gripper" default="false"/>
    <xacro:arg name="robot_name" default="me6_robot"/>
    <xacro:arg name='use_mock_hardware' default='true'/>

    <xacro:include filename="$(find dobot_e6_description)/urdf/mech/dobot_e6_arm.urdf.xacro"/>
    <xacro:include filename="$(find dobot_e6_description)/urdf/control/dobot_e6_ros2_control.urdf.xacro"/> 

    <xacro:dobot_e6_arm
        />

    <xacro:dobot_e6_ros2_control
        use_mock_hardware="$(arg use_mock_hardware)"/>
    
</robot>