<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="me6_robot">

    <xacro:arg name="use_tester_end_effector" default="false"/>
    <xacro:arg name="robot_name" default="me6_robot"/>
    <xacro:arg name='use_mock_hardware' default='true'/>

    <xacro:include filename="$(find dobot_e6_description)/urdf/mech/dobot_e6_arm.urdf.xacro"/>
    <xacro:include filename="$(find dobot_e6_description)/urdf/mech/tester_end_effector.urdf.xacro"/>
    <xacro:include filename="$(find dobot_e6_description)/urdf/control/dobot_e6_ros2_control.urdf.xacro"/> 

    <xacro:dobot_e6_arm/>
    <!-- if argument for test end_effector-->
    <xacro:if value="$(arg use_tester_end_effector)">
        <xacro:tester_end_effector/>
    </xacro:if>

    <xacro:dobot_e6_ros2_control
        use_mock_hardware="$(arg use_mock_hardware)"/>
    
</robot>